*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    color: #eaeaea;
}

.location, .temp{
    height: 30vh;
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.temp {
    flex-direction: column;
}

.temperatureLabel {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.temperatureLabel span {
    margin: 10px;
    font-size: 30px;
}

.temperatureLabel h2{
    font-size: 40px;
}

.location canvas {
    width: 21vh;
    height: 21vh;
}