*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    color: #eaeaea;
}

.time {
    margin-top: -5%;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    margin-left: 0;
    font-size: 40px;
}

.hourtime{
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    margin-top: 0;
    margin-left: 0vw;
    font-size: 40px;
}

.inputbutton{
    width: 30%;
    height: 100%;
    margin-left: 7%;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    background-color: #1c1c1c;
    border: 2px solid grey;
    color: #eaeaea;
    transition: all 0.3s ease;
}

.inputbutton:hover{
    background-color: grey;
    color: #1c1c1c;
}

.inputs{
    margin-top: 0%;
    margin-left: 40vw;
    display: flex;
    flex-direction: row;
}

.inputlocation{
    width: 30vw;
    height: 7vh;
    border-radius: 30px;
    background-color: #1c1c1c;
    border: 2px solid grey;
    outline: none;
    color: #eaeaea;
    padding: 0.5rem;
    padding-left: 2rem;
}

.location, .temp{
    height: 30vh;
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.location {
    margin-top: 5%;
}

.temp {
    flex-direction: column;
}

.temperatureLabel {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.temperatureLabel span {
    margin: 10px;
    font-size: 30px;
}

.temperatureLabel h2{
    font-size: 40px;
}

.location canvas {
    width: 21vh;
    height: 21vh;
}